<script type="text/javascript" src="../../app/jquery/jquery.js"></script>

<div class="footer-block">
  <div class="footer-block__main-container">
    <div class="footer-block__left">
      <img src="../../images/trood-full-logo.png" alt="trood-full-logo">
      <p class="footer-block__left__p-text">Российская ERP-система нового поколения</p>
      <div class="footer-block__left__info">
        <span class="footer-block__left__info__title">Есть вопросы?</span>
        <span class="footer-block__left__info__phone"><span class="footer-block_mobile-spans">Телефон: </span>+7 (499) 426-10-00</span>
        <span class="footer-block__left__info__mail"><span class="footer-block_mobile-spans">E-mail: </span>info@trood.ru</span>
      </div>
      <div class="footer-block__left__icons-container">
        <a target="_blank" href="https://www.facebook.com/troodcis/">
          <img src="../../images/main/fb.png" alt="facebook">
        </a>
        <!--<img src="../../images/main/ig.png" alt="instagram">-->
        <!--<img src="../../images/main/in.png" alt="link">-->
        <!--<img src="../../images/main/youtube.png" alt="youtube">-->
      </div>
      <a href="../../index.html#product" class="footer-block__left__choose-btn">Выбрать свой продукт</a>
    </div>
    <div class="footer-block__right">
      <ul class="footer-block__right__list">
        <li class="footer-block__right__list-title">Продукты</li>
        <li class="footer-block__right__list__item">
          <a href="http://svodka.trood.ru/" target="_blank" class="footer-block__right__list__item__link">Сводка</a>
        </li>
        <li class="footer-block__right__list__item">
          <a href="../../products/business/index.html" target="_blank" class="footer-block__right__list__item__link">Управление бизнесом</a>
        </li>
        <li class="footer-block__right__list__item">
          <a href="../../products/sales/index.html" class="footer-block__right__list__item__link">Продажи</a>
        </li>
        <li class="footer-block__right__list__item">
          <a href="../../products/projects/index.html" class="footer-block__right__list__item__link">Проекты</a>
        </li>
        <li class="footer-block__right__list__item">
          <a href="../../products/docs/index.html" class="footer-block__right__list__item__link">Документы</a>
        </li>
        <li class="footer-block__right__list__item">
          <a href="../../products/store/index.html" class="footer-block__right__list__item__link">Склад</a>
        </li>
        <li class="footer-block__right__list__item">
          <a href="../../products/requests/index.html" class="footer-block__right__list__item__link">Заявки</a>
        </li>
        <li class="footer-block__right__list__item">
          <a href="../../products/finances/index.html" class="footer-block__right__list__item__link">Финансы</a>
        </li>
        <li class="footer-block__right__list__item">
          <a href="../../products/staff/index.html" class="footer-block__right__list__item__link">Кадры</a>
        </li>
        <li class="footer-block__right__list__item">
          <a href="../../products/counter-agents/index.html" class="footer-block__right__list__item__link">Контрагенты</a>
        </li>
      </ul>
      <ul class="footer-block__right__list">
        <li class="footer-block__right__list-title">Информация</li>
        <!--<li class="footer-block__right__list__item">-->
          <!--<a href="#" class="footer-block__right__list__item__link">Блог</a>-->
        <!--</li>-->
        <!--<li class="footer-block__right__list__item">-->
          <!--<a href="#" class="footer-block__right__list__item__link">Технологии</a>-->
        <!--</li>-->
        <li class="footer-block__right__list__item">
          <a href="../../news/index.html" class="footer-block__right__list__item__link">Новости</a>
        </li>
      </ul>
      <ul class="footer-block__right__list">
        <li class="footer-block__right__list-title">Компания</li>
        <!--<li class="footer-block__right__list__item">-->
          <!--<a href="../../company/team/index.html" class="footer-block__right__list__item__link from-footer-to-company-menu">Команда</a>-->
        <!--</li>-->
        <li class="footer-block__right__list__item">
          <a href="../../company/career/index.html" class="footer-block__right__list__item__link from-footer-to-company-menu">Карьера</a>
        </li>
        <li class="footer-block__right__list__item">
          <a href="../../company/contacts/index.html" class="footer-block__right__list__item__link from-footer-to-company-menu">Контакты</a>
        </li>
      </ul>
    </div>
  </div>
</div>