// Title-Block starts --->

.title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: $trood-blue;
}

.title-block__title {
  font-size: 44px;
  color: $trood-white;
}

.title-block__p-text {
  max-width: 475px;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: $trood-white;
  margin-bottom: 32px;
}

.title-block__p-text:nth-child(2) {
  margin-bottom: 10px;
}

.title-block__contact-us-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  width: 164px;
  height: 50px;
  border-radius: 4px;
  background-color: $trood-white;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: $trood-blue;
}

// <--- Title-Block ends

// Company-Content starts --->

.company-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  padding: 40px 0 20px;
  background-color: $trood-white;
}

// Company-Content__team starts --->

.company-content__team {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  background-color: $trood-white;
}

.company-content__team_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
}

.team__member-container {
  display: flex;
  align-items: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 60px;
}

.team__member-container__info-container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-left: 20px;
}

.info-container__name {
  font-size: 18px;
  font-weight: 500;
  color: $trood-blue;
  margin-bottom: 6px;
}

.info-container__position {
  @extend .info-container__name;
  font-weight: 500;
  margin-bottom: 14px;
}

.info-container__discription {
  font-size: 14px;
  line-height: 1.4;
  color: $trood-black;
}

.temporary {
  color: transparent;
}

.team__member-container_fh {
  width: 180px;
  height: 180px;
}

// <--- Company-Content__team ends

// Company-Content__career starts --->

.company-content__career {
  @extend .company-content__team;
  padding: 0 50px;
}

.company-content__career_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
}

.company-content__career__p-text {
  max-width: 840px;
  font-size: 16px;
  line-height: 1.5;
  color: $trood-black;
  margin-bottom: 30px;
}

.company-content__p-text__link {
  @extend .company-content__career__p-text;
  margin-bottom: 0;
  color: $trood-blue;
}

.company-content__career__vacancy_title {
  font-size: 22px;
  color: $trood-black;
  margin-bottom: 18px;
}

.company-content__career__vacancy_job {
  font-size: 16px;
  font-weight: 600;
  color: $trood-blue;
  margin-bottom: 16px;
}

// <--- Company-Content__career ends

// Company-Content__contacts starts --->

.company-content__contacts {
  @extend .company-content__team;
  width: 100%;
  display: flex;
}

//Moscow-ofice-block --->

.moscow-ofice-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background: $trood-white;
  width: 100%;
}

.moscow-ofice-block__h2-text {
  font-size: 30px;
  color: $trood-black;
  position: relative;
  top: 14px;
}
//Moscow-ofice-map-block --->

.moscow-ofice-map-block {
  background: $trood-white;
  height: 500px;
  position: relative;
  width: 100%;
}

#moscow-map {
  height: 500px;
  width: 100%;
}

.gm-style-iw * {
  display: block;
  width: 100%;
}

.gm-style-iw h4,
.gm-style-iw p {
  margin: 0;
  padding: 0;
}

.gm-style-iw a {
  color: #4272db;
}

.moscow-ofice-map-block__info-card {
  background: $trood-white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 400px;
  height: 260px;
  position: absolute;
  top: 25%;
  left: 150px;
  z-index: 99;
  padding: 30px 20px;
}

.moscow-ofice-map-block_text-style {
  font-size: 18px;
  color: $trood-black;
  line-height: 1.56;
  max-width: 290px;
}

.moscow-ofice-map-block_text-style:nth-child(1) {
  margin-bottom: 20px;
}

.moscow-ofice-map-block_text-style:nth-child(2) {
  margin-bottom: 20px;
}

//<--- Moscow-ofice-map-block
// <--- Company-Content__contacts ends
// <--- Company-Content ends