<!--<script type="text/javascript" src="../../app/jquery/jquery.js"></script>-->
<!--<script type="text/javascript" src="../../app/slider/index.js"></script>-->

<!--<div id="slider-block" class="slider-block">-->
  <!--<div class="slider-block__quote">-->
  <!--</div>-->
  <!--<div class="slider-block__slider-body">-->
    <!--<div class="slider-block__left-arrow-container">-->
    <!--</div>-->
    <!--<div id="slider" class="slider-block__slider-wrapper">-->
      <!--<div class="slider-block__text-container">-->
        <!--<p class="slider-block__slider-body__message">-->
          <!--Боги автоматизации!!! Не работа, а подарок. Программа Труд Сводка вовремя уведомляет меня о необходимых событиях. Парю, но не парюсь! Даже успеваю делать селфи.-->
        <!--</p>-->
        <!--<span class="span slider-block__slider-body__author">Семён Галанин</span>-->
        <!--<span class="span slider-block__slider-body__author-position">Менеджер по продажам Mirror CX</span>-->
      <!--</div>-->
      <!--<div class="slider-block__text-container">-->
        <!--<p class="slider-block__slider-body__message">-->
          <!--Отзыв №2-->
        <!--</p>-->
        <!--<span class="span slider-block__slider-body__author">Семён Галанин</span>-->
        <!--<span class="span slider-block__slider-body__author-position">Менеджер по продажам Mirror CX</span>-->
      <!--</div>-->
      <!--<div class="slider-block__text-container">-->
        <!--<p class="slider-block__slider-body__message">-->
          <!--Отзыв №3-->
        <!--</p>-->
        <!--<span class="span slider-block__slider-body__author">Семён Галанин</span>-->
        <!--<span class="span slider-block__slider-body__author-position">Менеджер по продажам Mirror CX</span>-->
      <!--</div>-->
      <!--<div class="slider-block__text-container">-->
        <!--<p class="slider-block__slider-body__message">-->
          <!--Отзыв №4-->
        <!--</p>-->
        <!--<span class="span slider-block__slider-body__author">Семён Галанин</span>-->
        <!--<span class="span slider-block__slider-body__author-position">Менеджер по продажам Mirror CX</span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="slider-block__right-arrow-container">-->
    <!--</div>-->
  <!--</div>-->
  <!--<div id="steps" class="slider-block__slider-steps">-->
    <!--<div class="slider-block__slider-steps_step-style"></div>-->
    <!--<div class="slider-block__slider-steps_step-style"></div>-->
    <!--<div class="slider-block__slider-steps_step-style"></div>-->
    <!--<div class="slider-block__slider-steps_step-style"></div>-->
  <!--</div>-->
<!--</div>-->