<script type="text/javascript" src="../../app/jquery/jquery.js"></script>
<script type="text/javascript" src="../../app/slider/index.js"></script>

<div id="slider-block" class="slider-block">
  <div class="slider-block__quote">
  </div>
  <div class="slider-block__slider-body">
    <div class="slider-block__left-arrow-container">
    </div>
    <div id="slider" class="slider-block__slider-wrapper">
      <div class="slider-block__text-container">
        <p class="slider-block__slider-body__message">
          Приобрели программный продукт Trood Oil для автоматизации складской деятельности, работы с заявками и суточной отчетности. Теперь у нас снизились затраты на логистику, улучшились общие показатели и руководство получает отчетность оперативно.
        </p>
        <span class="span slider-block__slider-body__author">Варьеганская Нефтяная Буровая Компания</span>
      </div>
      <div class="slider-block__text-container">
        <p class="slider-block__slider-body__message">
          Компания “Труд Си Ай Эс” помогла нам оптимизировать работу с клиентами, наладить работу отдела продаж и сократить непроизводственные расходы с помощью продуктов Trood Продажи и Trood Финансы. Планируем продолжать сотрудничество и в будущем.
        </p>
        <span class="span slider-block__slider-body__author">Topline</span>
      </div>
      <div class="slider-block__text-container">
        <p class="slider-block__slider-body__message">
          Сложно удержать всё в голове, когда твоя компания является технологическим лидером среди смартфонов невысокой ценовой категории. Trood Сводка решает эту проблему: она вовремя уведомляет меня о необходимых событиях, помогает контролировать бизнес-процессы. Спасибо, Trood!
        </p>
        <span class="span slider-block__slider-body__author">Highscreen</span>
      </div>
    </div>
    <div class="slider-block__right-arrow-container">
    </div>
  </div>
  <div id="steps" class="slider-block__slider-steps">
    <div class="slider-block__slider-steps_step-style"></div>
    <div class="slider-block__slider-steps_step-style"></div>
    <div class="slider-block__slider-steps_step-style"></div>
  </div>
</div>