@import "globalStyles/variables";
@import "globalStyles/reset";
@import "globalStyles/globals";

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.header__left,
.header__right {
  height: 100vh;
  width: 100%;
  background: url("images/dashboard/man 1.jpg") center center no-repeat;
  background-size: cover;
}

.header__right {
  background-image: url("images/dashboard/man 2.png");
  min-height: 750px;
}

.header__left_img,
.header__right_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.header__right_img {
  padding: 60px 130px;
  background-color: rgba(0, 131, 204, 0.6);
  justify-content: space-between;
}

// Header-Left starts --->

.lang-switch {
  display: flex;
  align-items: flex-start;
  z-index: 3;
}

.lang-switch__ru,
.lang-switch__en {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 28px;
  border-radius: 43px;
  font-size: 14px;
  font-weight: 600;
  color: $trood-white;
  cursor: pointer;
}

.active-lang {
  border: solid 2px $trood-white;
}

.header__left__text-container {
  display: flex;
  margin-top: 260px;
}

.header__left__text-container_text-style {
  max-width: 380px;
  font-size: 30px;
  line-height: 1.33;
  color: $trood-white;
  margin: 0 10px;
}

.header-left__change-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 24px 34px;
  color: $trood-white;
  border-radius: 5px;
  background-color: $trood-light-blue;
  cursor: pointer;
  margin-top: 228px;
}

.header-left__change-btn:hover {
  box-shadow: 0 2px 20px 0 rgba(255, 255, 255, 0.6);
}

// <--- Header-Left ends

// Header-Right starts --->

.logo-wrap {
  align-self: flex-start;
}

.header__right__h1-style,
.header__right__h2-style {
  font-size: 80px;
  font-weight: 500;
  color: $trood-white;
  margin-bottom: 20px;
  text-align: center;
}

.header__right__h2-style {
  line-height: 1.25;
  font-size: 40px;
}

.header__right__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__right__btns-wrap {
  display: flex;
  align-items: flex-start;
}

.header__right__demo-btn {
  @extend .header-left__change-btn;
  color: $trood-light-blue;
  background-color: $trood-white;
  margin-top: 20px;
}

.header__right__demo-btn:hover {
  box-shadow: 0 2px 20px 0 rgba(255, 255, 255, 0.6);
}

// <--- Header-Right starts

// Adv1-block starts --->

.adv1-block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 180px;
  padding: 30px 0;
}

.adv1-block__adv1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
  width: 320px;
}

.adv1-block__adv1-wrapper:last-child {
  margin-right: 0;
}

.adv1-block__adv1-wrapper_text-style {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: $trood-white;
  margin-top: 30px;
}

// <--- Adv1-block ends

// Individual-Block starts --->

.individual-block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 600px;
  background-color: $trood-white;
  padding-top: 70px;
}

.individual-block > img {
  margin-right: 60px;
}

.individual-block__description {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 580px;
  margin-top: 70px;
}

.individual-block__h3-text {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
  color: $trood-light-blue;
  margin-bottom: 20px;
}

.individual-block__p-text {
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 40px;
}

// <--- Individual-Block ends

// Work-Anywhere-Block start --->

.work-anywhere-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 600px;
  background-color: #fffff3;
  background: url("images/dashboard/work-from-anywhere.jpg") center 80% no-repeat;
  background-size: cover;
  padding: 140px 0;
}

.work-anywhere-block__h3-text {
  @extend .individual-block__h3-text;
  color: $trood-blue;
  max-width: 400px;
}

.work-anywhere-block__p-text {
  font-size: 18px;
  line-height: 1.6;
  color: $trood-black;
  margin-bottom: 22px;
  max-width: 350px;
}

.work-anywhere-block__get-present-btn {
  @extend .header__right__demo-btn;
  width: 227px;
  height: 46px;
}

.work-anywhere-block__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: $trood-white;
}

.work-anywhere-block__description_position {
  display: flex;
  align-items: flex-start;
  background-color: transparent;
  width: 100%;
  max-width: 1220px;
}

// <--- Work-Anywhere-Block ends

// Adv2-block starts --->

.adv2-block {
  @extend .adv1-block;
  min-height: 450px;
  background-color: $trood-white;
  padding: 50px 30px 0;
}

.adv2-block__adv2-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 40px;
  margin-bottom: 50px;
}

.adv2-block__adv2-wrap:last-child {
  margin-right: 0;
}

.adv2-block__adv2-wrap_h4-text {
  font-size: 18px;
  line-height: 1.6;
  color: $trood-light-blue;
  max-width: 380px;
  margin: 24px 0 20px;
}

.adv2-block__adv2-wrap:last-child h4 {
  max-width: 180px;
}

.adv2-block__adv2-wrap_p-text {
  line-height: 1.6;
  color: $trood-black;
  max-width: 380px;
  font-size: 14px;
  margin: 0;
}

// <--- Adv2-block ends

// Slider-Block starts --->

@import "components/TroodSlider/index";

.slider-block {
  background-color: $trood-light-blue;
}

.slider-block__slider-body__message,
.slider-block__slider-body__author,
.slider-block__slider-body__author-position {
  color: $trood-white;
}

.slider-block__slider-steps_step-style {
  background-color: $trood-white;
}

.slider-block__quote {
  background-image: url("images/dashboard/quote.png");
}

.slider-block__left-arrow-container,
.slider-block__right-arrow-container {
  background-image: url("images/dashboard/arrow.png");
}

// <--- Slider-Block ends

// Dashboard-Demo-Bock starts --->

.dashboard-demo-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 420px;
  padding: 40px 20px 20px;
  background-color: $trood-white;
}

.dashboard-demo-block__h3-text {
  font-size: 34px;
  font-weight: 600;
  color: $trood-light-black;
  margin-bottom: 24px;
}

.dashboard-demo-block__p-text {
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: $trood-light-black;
  max-width: 310px;
  margin-bottom: 30px;
}

.dashboard-demo-block__demo-btn,
.bottom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: $trood-light-blue;
  padding: 25px 34px;
  font-size: 24px;
  color: $trood-white;
  margin-top: 10px;
  cursor: pointer;
}

.dashboard-demo-block__demo-btn:hover,
.bottom-button:hover {
  box-shadow: 0 2px 20px 0 rgba(0, 184, 241, 0.4);
}

.bottom-button {
  padding: 16px 20px;
  font-size: 18px;
  border: 0;
}

// <--- Dashboard-Demo-Bock ends

// Form-Bock starts --->

.form-block {
  min-height: 500px;
  background: url("images/dashboard/meeting.jpg") center center no-repeat;
  background-size: cover;
}

.form-block_back-opacity {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  padding: 0 30px;
  background-color: rgba(0, 131, 204, 0.6);
}

.form-block__from-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 390px;
  padding: 30px;
  border-radius: 4px;
  background-color: $trood-white;
}

.form-block__header {
  font-size: 22px;
  color: $trood-black;
  margin-bottom: 20px;
}

.form-block__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form__input {
  width: 340px;
  height: 46px;
  font-size: 14px;
  background-color: $trood-white;
  border: solid 1px #dcdcdc;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-left: 14px;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
}

.form__input:focus {
  background-color: $trood-white;
  border: solid 1px $trood-light-blue;
}

.form__submit {
  @extend .header__right__demo-btn;
  display: block;
  width: 120px;
  height: 42px;
  text-align: center;
  margin: 18px 0 0;
  border: 0;
  padding: 0;
}

// <--- Form-Bock ends

// Footer-Block starts --->

.footer-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 120px;
  padding: 57px 30px;
  background-color: $trood-white;
}

.footer-block__left-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-block__trood-link,
.footer-block__product-link {
  font-size: 14px;
  font-weight: 600;
  color: $trood-light-blue;
  margin-right: 20px;
}

.footer-block__product-link {
  margin-right: 0;
}

.footer-block__center-container {
  display: flex;
  align-items: flex-start;
}

.footer-block__phone,
.footer-block__mail {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $trood-gray;
  margin-right: 30px;
}

.footer-block__mail {
  margin-right: 0;
}

.footer-block__phone:before {
  content: url("images/tel.png");
  margin-right: 10px;
}

.footer-block__mail:before {
  content: url("images/mail.png");
  margin-right: 10px;
}

.footer-block__callback-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 258px;
  height: 40px;
  font-size: 14px;
  background-color: $trood-white;
  border: solid 2px $trood-light-blue;
  color: $trood-light-blue;
}

// <--- Footer-Block ends

.mobile_div {
  display: none;
}

.form-block_success {
  display: none;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 50px;
  background-color: $trood-white;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.errorBox {
  border: 1px solid #eb6258 !important;
  box-shadow: 0 0 5px #eb6258;
  background-color: $trood-white;
}

.form-validate-text {
  font-size: 14px;
  color: #eb6258;
  text-align: center;
  margin: 5px 0;
  height: 20px;
}

input:-webkit-autofill {
  background-color: $trood-white !important;
}

@import "components/TModalStyle/index";
@import "globalStyles/media";