@font-face {
  font-family: 'Ubuntu';
  src: url('../../globalStyles/fonts/Ubuntu.eot?#iefix') format('embedded-opentype'),
  url('../../globalStyles/fonts/Ubuntu.woff') format('woff'),
  url('../../globalStyles/fonts/Ubuntu.ttf') format('truetype'),
  url('../../globalStyles/fonts/Ubuntu.svg#Ubuntu') format('svg');
  font-weight: normal;
  font-style: normal;
}
