@import "fonts";

html, body {
  height: 100%;
  font-family: 'Ubuntu', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}