<div class="form-block">
  <div class="form-block_back-opacity">
    <div class="form-block__from-container">
      <h3 class="form-block__header">Заказать презентацию</h3>
      <p class="form-block__p-text">Внедрение происходит по индивидуальному плану. Стоимость внедрения зависит от масштабов организации и разнообразия бизнес-процессов. </p>
      <form action="../../app/php-mail/send.php" method="post" class="form-block__form">
        <input required name='name' type="text" class="form__input" placeholder="Ваше имя">
        <input required name='contact' type="text" class="form__input" placeholder="Ваш телефон или email">
        <button type="submit" class="form__submit">Отправить</button>
      </form>
    </div>
  </div>
</div>